<div class="col-sm-3 col-md-2 sidebar dashboard-nav">
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for('dashboard') }}"><strong>Overview </strong></a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="{{ url_for('spa') }}">League Details</a></li>
    <li><a href="{{ url_for('saloon') }}">Club Details</a></li>
    <li><a href="{{ url_for('car') }}">Player Details</a></li>
    <li><a href="{{ url_for('cloth') }}">Transfer Details</a></li>
    <li><a href="{{ url_for('auto') }}">Points Details</a></li>
    <li><a href="{{ url_for('house') }}">Appearance Details</a></li>
    <li><a href="{{ url_for('luxury') }}">Matches Details</a></li>
  </ul>
</div>
